<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<!-- namespace：命名空间，和Mapper接口的位置一样，这样框架会自动帮我们找到接口 --> 
<mapper namespace="cn.test.mybatis.UserMapper">
    <select id="findUserById" parameterType="int" resultType="User">
        select * from user where id =#{id}
    </select>

    <!-- 模糊查询 -->
    <select id="findUserByUsername" parameterType="String" resultType="User">
        <!-- ${}里面只能是value -->
        select * from user where username like '%${value}%'
    </select> 

    <!-- 添加操作 -->
    <insert id="insertUser" parameterType="User">
        insert into user(username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address})
    </insert>

    <!-- 修改操作 -->
    <update id="updateUser" parameterType="User">
        update user set username=#{username},birthday=#{birthday},sex=#{sex},address=#{address} where id=#{id}
    </update>

    <!-- 删除操作 -->
    <delete id="deleteUser" parameterType="Integer">
        delete from user where id=#{id}
    </delete>
</mapper>
